cellpose==3.0.8

# Things we need dependencies for
# smart_open[gcs]

# DeepCell requirements
deepcell-toolbox>=0.12.1
deepcell-tracking~=0.6.5
# scikit-learn>=0.20.4
# tensorflow_addons~=0.16.1
# spektral~=1.0.4
jupyterlab

# added for basic SPACEc functionality
leidenalg
louvain
matplotlib
# Protobuf version override needed because
# the older packages have older compiled protobufs…
protobuf==3.20.3
pydot==1.4.2
scikit-image>=0.19.3
scipy>=1.2.3,<2
spektral

# tensorflow-macos==2.8.0
# tensorflow-metal==0.4.0

tensorflow==2.8.0
