cellpose==3.0.8

# DeepCell requirements
deepcell-toolbox>=0.12.1
deepcell-tracking~=0.6.5
jupyterlab

# added for basic SPACEc functionality
# pip installations on macOS arm64 frequently fail for these two packages.
# keep them out of this environment and install manually if needed.
leidenalg; sys_platform != "darwin" or platform_machine != "arm64"
louvain; sys_platform != "darwin" or platform_machine != "arm64"
matplotlib

# Protobuf version override needed because
# the older packages have older compiled protobufs…
protobuf<3.20

pydot==1.4.2
scikit-image>=0.19.3
scipy>=1.2.3,<2
spektral

tensorflow-macos==2.10.0; python_version < "3.11"
